[
    {folsomite, [
        {graphite_host, "<graphite-host>"},
        {graphite_port, 2003},
        {flush_interval, 30000}
    ]},
    {sodomongo, [
        {mongo_connection, [
            {host, <mongo-hosts>},
            {database, <<"<mongo-db>">>}
        ]},
        {hosts, ["localhost"]},
        {redis_connection, ["104.199.15.159", 6379]},
        {rethinkdb, [{host, "104.155.96.97"},
                     {port, 28015}]}
    ]},
     {sasl, [
         {sasl_error_logger, false},
         {error_logger_mf_dir,"/var/log/sodomongo" }, 
         {error_logger_mf_maxbytes,10485760}, % 10 MB 
         {error_logger_mf_maxfiles, 10} 
        ]}

].

