[
    {folsomite, [
        {graphite_host, "<graphite-host>"},
        {graphite_port, 2003},
        {flush_interval, 30000}
    ]},
    {sodomongo, [
        {mongo_connection, [
            {host, <mongo-hosts>},
            {database, <<"<mongo-db>">>}
        ]},
        {hosts, ["localhost"]}
    ]}
].

